{% extends 'base.html %}

{% block title %}Massport Master{% endblock %}

{% block content %}

    <div id="content">
        <h1 id="title">Massport Master</h1>
        <h2 id="subtitle">Radio Database</h2>
        <hr />
        <div class='time'>{{time.timestamp}}</div>
        <h3>Latest serials:</h3>
            <table id="radio">
                <div>
                    <thead>
                        <tr>
                            <th>Date:</th>
                            <th>SN:</th>
                            <th>Model:</th>
                            <th>Notes:</th>
                        </tr>
                    </thead>
                </div>
                {% for sn in MassportMaster %}
                <div class="sn">
                    <tbody>
                        <tr>
                            <td>{{sn.date}}</td>
                            <td>{{sn.serial_number}}</td>
                            <td>{{sn.model}}</td>
                            <td>{{sn.notes}}</td>
                        </tr>
                    </tbody>
                </div>
        {% endfor %}
            </table>

    </div>

{% endblock %}
