<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8" />
    {% load static %}
    <link rel="stylesheet" type="text/css" href="static/style.css"/>
    <link href="images/favicon.ico" rel="shortcut icon"/>
    <title>Massport Master</title>
</head>

<body>

    <div class="container">
        <h1 id="title">Massport Master</h1>
        <h2 id="subtitle">Radio Database</h2>
        <hr />
        <div class='time'>{{time.timestamp}}</div>
        <h3>Latest serials:</h3>
        {% for sn in MassportMaster %}
            <div class="sn">
                <tr>
                    <td>{{sn.date}}</td>
                    <td>{{sn.serial_number}}</td>
                    <td>{{sn.model}}</td>
                    <td>{{sn.notes}}</td>
                </tr>
            </div>
            <hr />
        {% endfor %}

    </div>

</body>

</html>
